<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper vitae nibh et tempor. 
        Proin vitae euismod ligula, quis cursus diam. Etiam vulputate condimentum rutrum. 
        Mauris turpis mauris, sagittis sit amet justo vel, accumsan rhoncus massa. Morbi rutrum turpis 
        id augue aliquet, et congue nunc luctus. Interdum et malesuada fames ac ante ipsum primis in 
        faucibus. Mauris pellentesque sapien non augue tempor egestas. 
    </p>
</article>